@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Georgia;
  src: url("../fonts/georgiai.eot");
  src: local("☺"), url("../fonts/georgiai.woff") format("woff"), url("../fonts/georgiai.ttf") format("truetype"), url("../fonts/georgiai.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Georgia';
  src: url("../fonts/georgiaz.eot");
  src: local("☺"), url("../fonts/georgiaz.woff") format("woff"), url("../fonts/georgiaz.ttf") format("truetype"), url("../fonts/georgiaz.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.title {
  font-family: Lato;
  font-weight: 700;
  font-size: 30px;
}

.subtitle {
  font-family: Georgia;
  font-size: 16px;
  font-style: italic;
}

.text {
  font-family: Lato;
  font-size: 16px;
}

.title, .subtitle, .text {
  text-align: center;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 27px;
  border-style: solid;
  border-width: 2px;
  border-color: #cccccc;
  width: 151px;
  height: 40px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
}

.container {
  max-width: 1191px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}

.header__head {
  border-bottom: 1px solid #b9a4cb;
  height: 54px;
}

@media (max-width: 767px) {
  .header__head {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 0;
    z-index: 10;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }
  .header__head.active {
    top: 0;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media (max-width: 767px) {
  .header__container {
    display: block;
  }
}

.header__social, .header__contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social {
  padding: 0 16px 0 0;
  border-right: 1px solid #b9a4cb;
}

@media (max-width: 767px) {
  .header__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    padding: 0;
    margin: 0 0 20px;
  }
}

.header__social-link {
  color: #e5e5e5;
  font-size: 19.84px;
  margin: 0 12px 0 0;
}

.header__social-link:last-child {
  margin: 0;
}

@media (max-width: 767px) {
  .header__contact-block {
    display: block;
    text-align: center;
  }
}

.header__email-link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 22px;
  border-right: 1px solid #b9a4cb;
  border-left: 1px solid #b9a4cb;
}

@media (max-width: 767px) {
  .header__email-link {
    border: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
}

.header__phone-number {
  padding: 0 0 0 22px;
}

@media (max-width: 767px) {
  .header__phone-number {
    padding: 0;
  }
}

.header__email-link, .header__phone-number {
  color: #fff;
}

.header__email-link span, .header__phone-number span {
  font-weight: 700;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 10;
  margin: 130px 0 28px 0;
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__burger {
    position: absolute;
    top: 20px;
    right: 15px;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 11;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background: #fff;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background: #fff;
    left: 0;
    width: 100%;
    height: 4px;
    top: 8px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 7px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8f66b9;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
  }
  .header__menu.active {
    top: 0;
    overflow: auto;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header__list {
    display: block;
    padding: 190px 0 0 0;
  }
}

.header__list li {
  margin: 0 50px 0 0;
}

@media (max-width: 767px) {
  .header__list li {
    margin: 0 0 25px;
    text-align: center;
  }
}

.header__list li:last-child {
  margin: 0;
}

.header__link {
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 767px) {
  .header__link {
    font-size: 20px;
  }
}

.header__link:last-child {
  margin: 0;
}

.slider {
  position: relative;
}

.slider.swiper-container {
  overflow: hidden;
}

.slider .swiper-button-prev, .slider .swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
  height: 34px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.slider .swiper-button-prev:after, .slider .swiper-button-next:after {
  font-family: "FontAwesome";
  font-size: 14px;
  color: #fff;
}

.slider .swiper-button-prev.swiper-button-disabled, .slider .swiper-button-next.swiper-button-disabled {
  opacity: 1;
  color: #ccc;
  border-color: #ccc;
}

.slider .swiper-button-prev::after {
  content: '\f053';
}

.slider .swiper-button-next::after {
  content: '\f054';
}

.slider .swiper-pagination {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .swiper-pagination-bullet {
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.502;
  width: 8px;
  height: 8px;
  margin: 0 8px !important;
}

.slider .swiper-pagination-bullet-active {
  border: 3px solid #fff;
  background: transparent;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.intro {
  background: linear-gradient(-55deg, #e18522 0%, #9966cc 100%);
  padding: 370px 0 37px 0;
  color: #fff;
}

.intro__slide-wrapper {
  width: 82.84%;
  margin: 0 auto;
}

.intro__slide-title {
  font-size: 100px;
}

@media (max-width: 1024px) {
  .intro__slide-title {
    font-size: 80px;
  }
}

@media (max-width: 767px) {
  .intro__slide-title {
    font-size: 60px;
  }
}

@media (max-width: 567px) {
  .intro__slide-title {
    font-size: 40px;
  }
}

@media (max-width: 420px) {
  .intro__slide-title {
    font-size: 20px;
  }
}

.intro__slide-subtitle {
  font-size: 30px;
  margin: 0 0 72px 0;
}

@media (max-width: 1024px) {
  .intro__slide-subtitle {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .intro__slide-subtitle {
    font-size: 22px;
  }
}

@media (max-width: 567px) {
  .intro__slide-subtitle {
    font-size: 18px;
  }
}

@media (max-width: 420px) {
  .intro__slide-subtitle {
    font-size: 14px;
  }
}

.intro__slide-title, .intro__slide-subtitle {
  font-weight: 700;
  text-transform: uppercase;
}

.intro__slide-text {
  font-size: 18px;
}

@media (max-width: 767px) {
  .intro__slide-text {
    font-size: 16px;
  }
}

@media (max-width: 567px) {
  .intro__slide-text {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .intro__slide-text {
    font-size: 10px;
  }
}

.intro__slide-title, .intro__slide-subtitle, .intro__slide-text {
  text-align: center;
}

.intro__btn {
  margin-top: 30px;
}

.intro__slider .swiper-button-prev, .intro__slider .swiper-button-next {
  top: 90px;
  z-index: 1;
}

.intro__swiper-pagination {
  margin-top: 184px;
}

.about {
  padding: 73px 0 0 0;
}

.about__title-block {
  margin: 0 0 70px;
}

.about__title {
  margin: 0 0 22px;
}

.about__subtitle {
  margin: 0 0 30px 0;
}

.about__list {
  margin: 0 0 50px 0;
}

.about__item {
  position: relative;
  max-width: 574px;
  padding: 0 0 0 40px;
  margin: 0 0 14px 0;
}

.about__item:last-child {
  margin: 0;
}

.about__item-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.about__item-icon i {
  font-size: 18px;
  color: #9966cc;
}

.about__item-title {
  text-align: left;
  font-size: 18px;
  text-transform: uppercase;
}

.about__text-item {
  text-align: left;
}

.about__btn {
  border-color: #9966cc;
  color: #333333;
  margin: 0;
}

.works {
  padding: 50px 0 0;
}

.works__title-block {
  margin: 0 0 35px;
}

.works__title {
  margin: 0 0 27px;
}

.works__filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 15px 0;
}

.works__filter-item {
  margin: 0 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #666666;
}

@media (max-width: 480px) {
  .works__filter-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28%;
            flex: 0 0 28%;
    margin-bottom: 25px;
  }
}

.works__filter-item.active {
  color: #9966cc;
}

.works__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__img {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666%;
          flex: 0 0 16.6666%;
  position: relative;
}

@media (max-width: 1366px) {
  .works__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
}

@media (max-width: 767px) {
  .works__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 480px) {
  .works__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.works__img-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9466c2;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 45px;
}

.works__img-title {
  text-transform: uppercase;
  margin: 0 0 27px 0;
}

.works__img-text {
  font-size: 14px;
}

.works__img:hover .works__img-content {
  opacity: 1;
}

.works__img img {
  width: 100%;
}

.works__img.active {
  display: block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 576px) {
  .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .row_three {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.row .column_three {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.6%;
          flex: 0 0 31.6%;
}

@media (max-width: 767px) {
  .row .column_three {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 53%;
            flex: 0 0 53%;
    margin: 0 0 30px;
  }
  .row .column_three:last-child {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .row .column_three {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.row .column_four {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.14%;
          flex: 0 0 23.14%;
}

@media (max-width: 1024px) {
  .row .column_four {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .row .column_four {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
}

.cards {
  padding: 64px 0;
  background: #f9f9f9;
}

@media (max-width: 1024px) {
  .cards {
    padding: 34px 0 4px;
  }
}

.cards .item-cards {
  text-align: center;
}

.cards .item-cards:hover .item-cards__icon {
  border: 2px solid #9966cc;
  background: transparent;
}

.cards .item-cards:hover .item-cards__icon i {
  color: #9966cc;
}

.cards .item-cards__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #9966cc;
  margin: 0 auto 44px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cards .item-cards__icon i {
  font-size: 36px;
  color: #fff;
}

.cards .item-cards__title {
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 35px 0;
}

.cards .item-cards__text {
  color: #b1b1b1;
}

.testimonials {
  padding: 60px 0 0 0;
}

.testimonials__title-block {
  margin: 0 0 50px;
}

.testimonials__title {
  margin: 0 0 22px;
}

.testimonials__quote {
  font-family: Georgia;
  font-style: italic;
  text-align: center;
  margin: 0 0 55px 0;
}

.testimonials__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__author-img {
  display: block;
  width: 118px;
  height: 118px;
  background: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  margin: 0 23px 0 0;
}

.testimonials__name {
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.testimonials__job {
  color: #999999;
}

.testimonials__swiper-pagination {
  margin: 60px 0 0 0;
}

.testimonials__swiper-pagination .swiper-pagination-bullet {
  background: #cccccc;
}

.testimonials__swiper-pagination .swiper-pagination-bullet-active {
  background: transparent;
  border-color: #999999;
}

.brands {
  padding: 60px 0;
}

.brands__container {
  max-width: 1231px;
}

.brands__slider {
  padding: 0 20px;
}

@media (max-width: 767px) {
  .brands__slider {
    padding: 0 5px;
  }
}

.brands__slider .brands__slider-button-next, .brands__slider .brands__slider-button-prev {
  border-color: #999999;
}

.brands__slider .brands__slider-button-next:after, .brands__slider .brands__slider-button-prev:after {
  color: #999999;
}

.brands__slider .brands__slider-button-prev {
  left: 0px;
}

.brands__slider .brands__slider-button-next {
  right: 0px;
}

.brands__slide-wrapper {
  margin: 0 auto;
  max-width: 104px;
}

.brands__slide-wrapper img {
  width: 100%;
}

.facts {
  padding: 70px 0 84px;
  background: #9966cc;
  color: #fff;
}

@media (max-width: 1024px) {
  .facts {
    padding: 35px 0 12px;
  }
}

.facts__title-block {
  margin: 0 0 74px;
}

.facts__title {
  margin: 0 0 36px;
}

.facts .item-facts {
  text-align: center;
  color: #fff;
}

.facts .item-facts__counter {
  font-size: 60px;
  font-weight: 700;
  margin: 0 0 30px;
}

.facts .item-facts__text {
  text-transform: uppercase;
  font-size: 18px;
}

.jobs-quote {
  padding: 200px 0 115px;
  background: #666666;
}

@media (max-width: 1024px) {
  .jobs-quote {
    padding: 170px 0 100px;
  }
}

@media (max-width: 767px) {
  .jobs-quote {
    padding: 140px 0 85px;
  }
}

@media (max-width: 567px) {
  .jobs-quote {
    padding: 100px 0 70px;
  }
}

@media (max-width: 480px) {
  .jobs-quote {
    padding: 60px 0 55px;
  }
}

.jobs-quote__container {
  max-width: 1042px;
}

.jobs-quote__quote {
  font-family: Georgia;
  font-style: italic;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .jobs-quote__quote {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .jobs-quote__quote {
    font-size: 20px;
  }
}

@media (max-width: 567px) {
  .jobs-quote__quote {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .jobs-quote__quote {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .jobs-quote__quote {
    font-size: 10px;
  }
}

.jobs-quote__quote:after {
  content: '';
  display: block;
  width: 58px;
  height: 2px;
  margin: 28px auto 23px;
  background: #fff;
}

.jobs-quote__name {
  font-size: 22px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

@media (max-width: 767px) {
  .jobs-quote__name {
    font-size: 18px;
  }
}

@media (max-width: 567px) {
  .jobs-quote__name {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .jobs-quote__name {
    font-size: 10px;
  }
}

.services {
  padding: 66px 0 0;
}

.services__title-block {
  margin: 0 0 25px;
}

.services__title {
  margin: 0 0 22px;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .services__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.services__sliders-block, .services__tabs {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.services__sliders-block {
  background: #636363;
  color: #fff;
  text-align: center;
  min-width: 0;
}

.services__slider {
  display: none;
  height: 100%;
}

.services__slider.active {
  display: block;
}

.services__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 71px;
}

@media (max-width: 767px) {
  .services__slide {
    padding: 50px;
  }
}

@media (max-width: 576px) {
  .services__slide {
    padding: 50px 25px;
  }
}

@media (max-width: 767px) {
  .services__text {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .services__text {
    font-size: 12px;
  }
}

.services__text p {
  margin: 0 0 25px 0;
}

.services .swiper-pagination {
  position: absolute;
  left: 0;
  bottom: 40px !important;
}

.services__tabs {
  padding: 66px 0;
  background: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .services__tabs {
    padding: 33px 0;
  }
}

.services__tabs-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 1024px) {
  .services__tabs-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 0 30px 0;
  }
}

.services .tab-trigger-services {
  display: block;
  margin: 0 0 127px 0;
  text-align: center;
  color: #999;
}

@media (max-width: 1024px) {
  .services .tab-trigger-services {
    margin: 0;
  }
}

.services .tab-trigger-services.active {
  color: #333333;
}

.services .tab-trigger-services:last-child {
  margin: 0;
}

.services .tab-trigger-services i {
  font-size: 36px;
}

@media (max-width: 576px) {
  .services .tab-trigger-services i {
    font-size: 28px;
  }
}

.services .tab-trigger-services__name {
  font-weight: 700;
  font-size: 24px;
  margin: 34px 0 0 0;
}

@media (max-width: 576px) {
  .services .tab-trigger-services__name {
    font-size: 14px;
  }
}

.team {
  padding: 67px 0 0;
}

.team__title-block {
  margin: 0 0 33px;
}

.team__title {
  margin: 0 0 20px;
}

.team .item-team {
  text-align: center;
}

.team .item-team__img {
  margin: 0 0 20px;
}

.team .item-team__img img {
  width: 100%;
}

.team .item-team__name {
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 11px;
}

.team .item-team__job {
  color: #999999;
  margin: 0 0 25px 0;
}

.team .item-team__text {
  font-size: 14px;
  padding: 0 21px;
  margin: 0 0 25px;
}

.team .item-team__link {
  font-size: 20px;
  color: #cccccc;
  margin: 0 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.team .item-team__link:hover {
  color: #9966cc;
}

.skills {
  padding: 80px 0 70px;
}

.skills__title-block {
  margin: 0 0 33px;
}

.skills__title {
  margin: 0 0 22px;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 24px 0;
}

@media (max-width: 767px) {
  .skills__item {
    display: block;
  }
}

.skills__item:last-child {
  margin: 0;
}

.skills__text, .skills__progress-bar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.68%;
          flex: 0 0 48.68%;
}

.skills__text {
  font-size: 14px;
}

@media (max-width: 767px) {
  .skills__text {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 576px) {
  .skills__text {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .skills__text {
    font-size: 10px;
  }
}

.skills .progress-bar__title {
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.skills .progress-bar__body {
  border-radius: 4px;
  height: 12px;
  background: #e3e3e3;
  position: relative;
}

.skills .progress-bar__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: linear-gradient(-55deg, #e18522 0%, #9966cc 100%);
}

.skills .progress-bar__progress_1 {
  width: 80%;
}

.skills .progress-bar__progress_2 {
  width: 97%;
}

.skills .progress-bar__progress_3 {
  width: 65%;
}

.skills .progress-bar__progress_4 {
  width: 72%;
}

.skills .progress-bar__progress-number {
  position: absolute;
  top: -22px;
  right: -9px;
  font-weight: 700;
}

.benefits {
  padding: 60px 0;
  background: #333333;
  color: #fff;
}

.benefits__title-block {
  margin: 0 0 60px;
}

.benefits__title {
  margin: 0 0 24px;
}

.benefits__subtitle {
  margin: 0 0 35px 0;
}

.benefits .item-benefits {
  text-align: center;
}

.benefits .item-benefits__icon {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 109px;
  height: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 37px;
}

.benefits .item-benefits__icon i {
  font-size: 48px;
}

.benefits .item-benefits__title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 32px 0;
}

@media (max-width: 767px) {
  .benefits .item-benefits__text {
    font-size: 14px;
  }
}

.price {
  padding: 57px 0 0;
}

.price__title-block {
  margin: 0 0 37px;
}

.price__title {
  margin: 0 0 22px;
}

.price__toggle-switch {
  width: 194px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 27px;
  margin: 0 auto 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 90px;
  height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  margin: 2px 3px;
  border-radius: 27px;
  text-transform: uppercase;
  color: #666666;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.price__toggle.active {
  background: #9966cc;
  color: #fff;
}

.price__row {
  display: none;
  margin: 0 0 65px 0;
}

.price__row.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price .item-price {
  padding: 43px 0 45px;
  text-align: center;
  border: 1px solid #cfcfcf;
}

.price .item-price__title {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 34px 0;
}

.price .item-price__price {
  font-size: 30px;
}

.price .item-price__price::after {
  content: '';
  display: block;
  height: 2px;
  width: 63.24324%;
  background: #000;
  margin: 15px auto 39px;
}

.price .item-price__price span {
  font-size: 18px;
}

.price .item-price_basic .item-price__title, .price .item-price_basic .item-price__price {
  color: #9966cc;
}

.price .item-price_basic .item-price__price:after {
  background: #9966cc;
}

.price .item-price_basic .price__btn {
  border-color: #9966cc;
}

.price .item-price_popular .item-price__title, .price .item-price_popular .item-price__price {
  color: #bd7677;
}

.price .item-price_popular .item-price__price:after {
  background: #bd7677;
}

.price .item-price_premier .item-price__title, .price .item-price_premier .item-price__price {
  color: #e18522;
}

.price .item-price_premier .item-price__price:after {
  background: #e18522;
}

.price .item-price__list {
  margin: 0 0 48px 0;
}

.price .item-price__item {
  color: #999999;
  margin: 0 0 24px 0;
}

.price .item-price__item:last-child {
  margin: 0;
}

.price__btn {
  color: #666666;
}

.price__acc-and-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .price__acc-and-tab {
    display: block;
  }
}

.price__accordion, .price__tabs {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.68%;
          flex: 0 0 48.68%;
}

@media (max-width: 1024px) {
  .price__accordion {
    margin: 0 0 50px 0;
  }
}

.price .accordion-price__item {
  border: 1px solid #9966cc;
  border-radius: 4px;
  margin: 0 0 15px 0;
}

.price .accordion-price__item:last-child {
  margin: 0;
}

.price .accordion-price__trigger {
  display: block;
  border: 1px solid #9966cc;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  text-align: left;
  font-weight: 700;
  color: #333;
  background: transparent;
  padding: 0 0 0 14px;
}

.price .accordion-price__trigger.active {
  border: none;
  background: #9966cc;
  color: #fff;
}

.price .accordion-price__body {
  display: none;
  padding: 16px 18px;
}

.price .accordion-price__body.active {
  display: block;
}

.price__tab-triggers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.price__tab-triggers::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #9966cc;
}

.price__tab-trigger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 189px;
          flex: 0 0 189px;
  height: 40px;
  margin: 0 2px 0 0;
  font-weight: 700;
  padding: 0 0 0 14px;
  background: #9966cc;
  color: #fff;
}

@media (max-width: 767px) {
  .price__tab-trigger {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
  }
}

.price__tab-trigger:last-child {
  margin: 0;
}

.price__tab-trigger.active {
  border: 1px solid #9966cc;
  border-bottom: none;
  background: #fff;
  color: #333;
}

.price__tab-item {
  display: none;
}

.price__tab-item.active {
  display: block;
  padding: 16px 18px;
  border: 1px solid #9966cc;
  border-top: none;
}

.price__tab-item.active ul {
  margin: 24px 0;
}

.price__tab-item.active li {
  margin: 0 0 16px 0;
}

.price__tab-item.active li:last-child {
  margin: 0;
}

.posts {
  padding: 100px 0 40px;
}

.posts__title-block {
  margin: 0 0 40px;
}

.posts__title {
  margin: 0 0 17px;
}

.posts .item-posts {
  text-align: center;
}

.posts .item-posts__img {
  margin: 0 0 35px;
}

.posts .item-posts__img img {
  width: 100%;
}

.posts .item-posts__title {
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 25px;
}

.posts .item-posts__date-block {
  font-size: 14px;
  color: #999999;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 7px 0 5px;
  margin: 0 0 27px;
}

.posts .item-posts__text {
  color: #666666;
  padding: 0 15px;
}

.follow {
  background: #666666;
  padding: 36px 0 25px;
  color: #fff;
}

.follow__title-block {
  margin: 0 0 26px;
}

.follow__title {
  margin: 0 0 22px;
}

.follow__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.follow__social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 12px;
}

@media (max-width: 576px) {
  .follow__social-link {
    margin: 0 6px;
  }
}

.follow__social-link i {
  font-size: 30px;
  color: #fff;
}

.contact {
  padding: 60px 0;
}

.contact__title-block {
  margin: 0 0 26px;
}

.contact__title {
  margin: 0 0 22px;
}

.contact__form {
  width: 48.68%;
  margin: 0 auto;
}

@media (max-width: 570px) {
  .contact__form {
    width: 100%;
  }
}

.contact__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form-wrapper input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47.36842%;
          flex: 0 0 47.36842%;
}

@media (max-width: 570px) {
  .contact__form-wrapper input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.contact__input, .contact__textarea {
  border: 1px solid #cbc8cb;
  width: 100%;
  border-radius: 4px;
  padding: 0 0 0 15px;
}

.contact__input::-webkit-input-placeholder, .contact__textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #ccc;
}

.contact__input:-ms-input-placeholder, .contact__textarea:-ms-input-placeholder {
  font-size: 14px;
  color: #ccc;
}

.contact__input::-ms-input-placeholder, .contact__textarea::-ms-input-placeholder {
  font-size: 14px;
  color: #ccc;
}

.contact__input::placeholder, .contact__textarea::placeholder {
  font-size: 14px;
  color: #ccc;
}

.contact__input {
  height: 35px;
  margin: 0 0 30px 0;
}

.contact__textarea {
  height: 113px;
  padding: 12px 0 0 15px;
}

.contact__btn {
  margin: 40px auto 0;
  border-color: #9966cc;
  color: #333;
}

.footer {
  background: #222;
  padding: 63px 0 30px;
  color: #fff;
}

.footer__head {
  border-bottom: 1px solid #666666;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.59693%;
          flex: 0 0 31.59693%;
}

.footer .item-footer {
  padding: 0 0 33px 0;
}

.footer .item-footer__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .item-footer__title span {
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
}

.footer .item-footer__text {
  font-size: 14px;
  color: #999999;
}

.footer .item-footer__text p {
  margin: 0 0 22px;
}

.footer .item-footer__text p:last-child {
  margin: 0;
}

.footer .item-footer__text p span {
  color: #fff;
}

.footer .item-footer__text p .item-footer__date {
  display: block;
  font-size: 12px;
  color: #ccc;
  margin: 9px 0 0 0;
}

.footer .item-footer__input {
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 4px;
  padding: 0 0 0 15px;
  margin: 33px 0 0 0;
}

.footer .item-footer__btn {
  border-color: #9966cc;
  color: #fff;
  margin: 37px 0 0 0;
}

.footer__bottom {
  padding: 28px 0 0 0;
}

.footer__bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  font-size: 14px;
  color: #999999;
}

.footer__social-link {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  margin: 0 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 576px) {
  .footer__social-link {
    margin: 0 0 0 5px;
  }
}

.footer__social-link:hover {
  color: #9966cc;
}
